/* Osnovni izgled telesa */
body {
  font-family: Arial, sans-serif;
  background-color: #2d1050; /* enaka temna vijolična kot drugje */
  color: white;
  text-align: center;
  padding: 30px;
}

/* Naslov */
h1 {
  color: white;
  margin-bottom: 30px;
}

/* Tabela z rezultati */
table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  background-color: rgba(74, 17, 166, 0.9); /* vijolična podobna tvoji */
  border-radius: 10px;
  overflow: hidden;
}

/* Glava tabele */
th {
  background-color: #451d76;
  color: white;
  padding: 12px;
  border-bottom: 2px solid #57387c;
}

/* Celice */
td {
  padding: 10px;
  border-bottom: 1px solid #57387c;
  color: white;
}

/* Gumb za nazaj */
.gumb {
  display: inline-block;
  margin-top: 30px;
  background-color: #451d76;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.gumb:hover {
  background-color: #57387c;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  color: purple;
  font-size: 0.9em;
  width: 100%;
}
